html {
  box-sizing: border-box;
  font-size: 16px;
}
body {
  margin: 2rem;
  background-color: #eee;
  font-family: Helvetica;
  font-size: 1rem;
  line-height: 1.2;
}
.exercise {
  display: flex;
  align-items: baseline;
  padding: 0.5rem 2rem;
  margin-bottom: 1rem;
  background-color: #fff;
}
.exercise > * {
  flex-basis: 25%;
  padding-right: 1rem;
}
.alternate {
  opacity: 0.5;
}
